*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

img {
  display: block;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
  color: currentColor;
}

button {
  cursor: pointer;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

h2 {
  margin-bottom: 72px;
}

h3,
team-item-title,
features-item-title,
portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  text-align: left;
}
/* #region ======HEADER====== */
.header {
  /* border-bottom: 1px solid #e7e9fc; */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  /* 
    position: fixed;
        z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  background-color: #fff;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-flex {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  display: block;
  padding: 24px 0;
  margin-right: 76px;
  position: relative;
}

.header-logo {
  color: #2e2f42;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item {
  position: relative;
}

.current::after {
  content: '';
  background-color: #404bbf;
  width: 100%;
  display: block;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
}

.nav-list-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
}

.contacts-item {
  padding: 24px 0;
  position: relative;
}

.contacts-link {
  color: #434455;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion HEADER */

/* #region =======HERO======= */
.hero {
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  height: 600px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;
  letter-spacing: 0.02em;
  margin: 0 auto 48px;
  max-width: 496px;
}

.hero-btn {
  font-family: inherit;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  border: none;
  border-radius: 4px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion HERO */

.section {
  padding: 120px 0;
}
/* #region ========FEATURES======== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-icon-wrap {
  position: relative;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

/* .features-icon {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
} */

/* .features-item::before {
    content: '';
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
border: 1px solid #8e8f99;
    border-radius: 4px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-bottom: 8px;
} */

/* .features-item:nth-child(1)::before {
    background-image: url(../images/svg/strategy.svg); 
}

.features-item:nth-child(2)::before {
    background-image: url(../images/svg/punctuality.svg);
}
.features-item:nth-child(3)::before {
    background-image: url(../images/svg/diligence.svg);
}
.features-item:nth-child(4)::before {
    background-image: url(../images/svg/technologies.svg);
} */
/* #endregion FEATURES */

/* #region ========TEAM======== */
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
  flex-basis: calc((100% - 72) / 4);
}

.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-title {
  text-transform: capitalize;
  text-align: center;
}

.team-item-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-item-wrapper {
  padding: 32px 0;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-link {
  display: flex;
  line-height: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item .social-link:hover,
.team-item .social-link:focus {
  background-color: #404bbf;
}

/* #endregion TEAM */

/* #region =====PORTFOLIO======*/

.portfolio-item-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item-title {
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  flex-basis: calc((100% - 48) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  overflow: auto;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0%);
}

.portfolio-item-wrapper {
  z-index: 3;
  /* position: fixed; */
}
/* #endregion PORTFOLIO */

/* #region ======FOOTER====== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: first baseline;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 0;
  padding: 0;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-column-logo {
  margin-right: 120px;
}

.footer-text {
  color: #f4f4fd;
  width: 264px;
}
.social-footer {
  font-weight: 500;
  margin-bottom: 16px;
  color: #ffffff;
}

.footer .social-list {
  gap: 16px;
  justify-content: flex-start;
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}

.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn {
  border: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-btn-icon {
  fill: #ffffff;
  margin-left: 16px;
}
/* #endregion FOOTER*/

/* #region ======MODAL====== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  padding: 72px 24px 24px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  fill: #2e2f42;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field:nth-child(4) {
  margin-bottom: 16px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  padding: 11px 16px 11px 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-textarea {
  height: 120px;
  resize: none;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-check-wrap {
  margin-bottom: 24px;
}

.modal-check-item {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text .modal-check-item {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-ckeck-link {
  display: inline-block;
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

/* #endregion MODAL*/
